<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WanderLust</title>
  </head> -->

<!-- style for icons or filters -->
<style>
  #filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
  }
  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }

  .filter p {
    font-size: 0.8rem;
  }

  .tax-info {
    display: none;
  }
  .tax-toggle {
    border: 1px solid black ; 
    border-radius: 1rem;
    height: 3.25rem;
    padding: 1rem;
    margin-left: 3rem;
    display: flex;
    align-items: center;
  }
</style>

<% layout('/layouts/boilerplate') -%>

<body>
  <!-- <h3 class="index-heading">All Listings</h3> -->

  <!-- add new listing button -->
  <!-- <form action="/listings/new" method="get">
      <button>Create New Listing</button>
    </form> -->

  <!-- adding filters or icons on the top of the index page -->
  <div id="filters">
    <div class="filter">
      <div><i class="fa-solid fa-fire"></i></div>
      <p>Trending</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-bed"></i></div>
      <p>Rooms</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-mountain-city"></i></div>
      <p>Iconic Cities</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-mountain"></i></div>
      <p>Mountains</p>
    </div>

    <div class="filter">
      <div><i class="fa-brands fa-fort-awesome"></i></div>
      <p>Castles</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-person-swimming"></i></div>
      <p>Amazing Pools</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-campground"></i></div>
      <p>Camping</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-wheat-awn"></i></div>
      <p>Farms</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-snowflake"></i></div>
      <p>Arctic</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-igloo"></i></div>
      <p>Domes</p>
    </div>


    <div class="filter">
      <div><i class="fa-solid fa-ship"></i></div>
      <p>Boats</p>
    </div>

    <div class="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Display Total after Taxes</label
        >
      </div>
    </div>
  </div>

  <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-3">
    <!-- one for-of loop will produce one card at a time. -->
    <%for (let listing of allListings){%>
    <a href="/listings/<%=listing._id%>" class="listing-link">
      <div class="card listing-card">
        <img
          src="<%=listing.image.url%>"
          class="card-img-top"
          alt="listing_image"
          style="height: 20rem"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b><%=listing.title%></b> <br />
            &#8377;<%=listing.price.toLocaleString("en-IN")%> / night
            <i class="tax-info"
              >&nbsp; +18% GST = &#8377;<%-((18*listing.price)/100 +
              listing.price).toLocaleString("en-IN") %> / night</i
            >
          </p>
        </div>
      </div>
    </a>
    <%}%>
  </div>

  <!-- <ul>
    <%for (let listing of allListings){%>
    <li><a href="/listings/<%=listing._id%>"><%=listing.title%></a></li>
    <%}%>
  </ul> -->
</body>
<!-- </html> -->

<script>
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click", () => {
    // console.log("clicked");// testing
    let taxInfo = document.getElementsByClassName("tax-info");
    // console.log(taxInfo);
    for (info of taxInfo) {
      if (info.style.display != "inline") {
        info.style.display = "inline";
      } else {
        info.style.display = "none";
      }
    }
  });
</script>
